
<form method = "post" action = "after_login">
<input type = "text" name = "username" placeholder='username'>
<input type = "password" name = "pass" placeholder="password">
<input type = "submit">
</form>