
<form method = "post" action = "after_login">
<input type = "text" name = "username" placeholder='username'required>
<input type = "password" name = "pass" placeholder="password"required>
<input type = "date" name = "date" required>
<input type = "submit">
</form>